<video width="320" height="240" autoplay>
      <source src="http://127.0.0.1:8080/webcam2.ogg" type="video/ogg" />
      Your browser does not support the video tag.
</video>
<video width="320" height="240" autoplay>
      <source src="http://127.0.0.1:8080/webcam1.ogg" type="video/ogg" />
      Your browser does not support the video tag.
</video>